:root {
    --bg-color: #ffffff;
    --brand-color: #8BD8BD;
    --text-color: #243665;
    --light-gray-color: #f3f3f3;
    font-size: 18px;
    color: var(--text-color)
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #243665;
        --brand-color: #8BD8BD;
        --text-color: #ffffff;
        --light-gray-color: #D9D9D9;
    }

    h2, h3, table, #tips, #activity {
        color: var(--bg-color);
    }

    #notifications>h3 {
        color: var(--text-color);
    }

}

body {
    font-family: 'Radio Canada', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
}

footer {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
}
/* image styling*/
.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--light-gray-color)
}

#logo {
    width: 50%;
}

figure {
    text-align: center;
}

/*Sidebar styling */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 20px;
}

nav>ul>li {
    margin: 50px;
}

nav>ul>li>i {
    color: var(--brand-color)
}

/*Header styling */

#header {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "search notifications" 
        "welcome buttons";
    align-items: center;
    padding: 20px 0px 20px 0px;
    gap: 30px;
}

#search-bar {
    grid-area: search;
}

#notifications {
    grid-area: notifications;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#welcome {
    grid-area: welcome;
    display: flex;
    align-items: center;
}
#buttons{
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#search-bar {
    width: 80%;
    border-radius: 28px;
    border: none;
    background-color: var(--light-gray-color);
    padding: 7px;
}

button {
    border: none;
    border-radius: 15px;
    background-color: var(--brand-color);
    color: var(--text-color);
    font-size: .75rem;
    padding: 8px 14px;
    font-weight: 600;
}

.avatar {
    margin-right: 20px;
}


/*main*/
#entries-body {
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
    background-color: var(--light-gray-color);
    gap: 20px;

}

#entries, #updates {
    padding: 20px;
}

th {
    background-color: #243665;
    color: white;
    width: 15%;
    text-align: center;
}

td {
    padding: 7px;
}

.nums, .percent {
    text-align: right;
    vertical-align: middle;
}

#tips, #activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tips>article, #activity>article {
    background-color: white;
    height: clamp(50px, 75px, 200px);
    border-radius: 8px;
    padding: 10px;
    border-left: 4px solid var(--brand-color);
    
    
}

#tips {
    margin-bottom: 50px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgb(234, 233, 233);
}

.sandwich-names {
    width: 25%;
}

.edit-icons {
    text-align: center;
    vertical-align: middle;
}
