@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?ecb50283fc32afffb7afadec1d7fc298") format("truetype"),
url("./flaticon.woff?ecb50283fc32afffb7afadec1d7fc298") format("woff"),
url("./flaticon.woff2?ecb50283fc32afffb7afadec1d7fc298") format("woff2"),
url("./flaticon.eot?ecb50283fc32afffb7afadec1d7fc298#iefix") format("embedded-opentype"),
url("./flaticon.svg?ecb50283fc32afffb7afadec1d7fc298#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-user:before {
    content: "\f101";
}
.flaticon-location:before {
    content: "\f102";
}
.flaticon-settings:before {
    content: "\f103";
}
.flaticon-hotel-bell:before {
    content: "\f104";
}
.flaticon-logout:before {
    content: "\f105";
}
.flaticon-home:before {
    content: "\f106";
}
.flaticon-magnifying-glass:before {
    content: "\f107";
}
