@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?40b8e9f6e720aea8e2c90ebc5311eeb4") format("truetype"),
url("./flaticon.woff?40b8e9f6e720aea8e2c90ebc5311eeb4") format("woff"),
url("./flaticon.woff2?40b8e9f6e720aea8e2c90ebc5311eeb4") format("woff2"),
url("./flaticon.eot?40b8e9f6e720aea8e2c90ebc5311eeb4#iefix") format("embedded-opentype"),
url("./flaticon.svg?40b8e9f6e720aea8e2c90ebc5311eeb4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-user:before {
    content: "\f101";
}
.flaticon-location:before {
    content: "\f102";
}
.flaticon-settings:before {
    content: "\f103";
}
.flaticon-hotel-bell:before {
    content: "\f104";
}
.flaticon-logout:before {
    content: "\f105";
}
.flaticon-home:before {
    content: "\f106";
}
.flaticon-magnifying-glass:before {
    content: "\f107";
}
.flaticon-notification:before {
    content: "\f108";
}
.flaticon-pen:before {
    content: "\f109";
}
.flaticon-delete:before {
    content: "\f10a";
}
.flaticon-plus:before {
    content: "\f10b";
}
.flaticon-invoice:before {
    content: "\f10c";
}
.flaticon-sandwich:before {
    content: "\f10d";
}
.flaticon-up-arrow:before {
    content: "\f10e";
}
.flaticon-download:before {
    content: "\f10f";
}
.flaticon-bulb:before {
    content: "\f110";
}
