$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?718813dd11c03eafd548eb902996fd17") format("truetype"),
url("./flaticon.woff?718813dd11c03eafd548eb902996fd17") format("woff"),
url("./flaticon.woff2?718813dd11c03eafd548eb902996fd17") format("woff2"),
url("./flaticon.eot?718813dd11c03eafd548eb902996fd17#iefix") format("embedded-opentype"),
url("./flaticon.svg?718813dd11c03eafd548eb902996fd17#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "location": "\f102",
    "settings": "\f103",
    "hotel-bell": "\f104",
    "logout": "\f105",
    "home": "\f106",
    "magnifying-glass": "\f107",
    "notification": "\f108",
    "pen": "\f109",
    "delete": "\f10a",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-settings:before {
    content: map-get($flaticon-map, "settings");
}
.flaticon-hotel-bell:before {
    content: map-get($flaticon-map, "hotel-bell");
}
.flaticon-logout:before {
    content: map-get($flaticon-map, "logout");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-magnifying-glass:before {
    content: map-get($flaticon-map, "magnifying-glass");
}
.flaticon-notification:before {
    content: map-get($flaticon-map, "notification");
}
.flaticon-pen:before {
    content: map-get($flaticon-map, "pen");
}
.flaticon-delete:before {
    content: map-get($flaticon-map, "delete");
}
